    {% extends "euphonime/index.html" %}
    {% load static %}

    {% block title %}
    <title>Disclaimer - EuphoNime</title>
    {% endblock title %}


    {% block extra_css %}
        <style>
            body {
                background: #eaeaea;
            }
            .header__top {
                background: #FFFFFF;
            }
            p{
              text-align: justify;
              text-justify: inter-word;
              }
        </style>
    {% endblock extra_css %}


    {% block content %}
    <!-- Club Section Begin -->
    <section class="club-section spad" style="padding-top:30px; padding-bottom:0;">
        <div class="container">
            <div class="club-content">
                <div class="col-lg-12" style="background:#FFF; padding:30px;">
                    <h1 style="text-align:center">Disclaimer for Euphonime</h1><br>
                    <p>If you require any more information or have any questions about our site's disclaimer, please feel free to contact us by email at projecteupho@gmail.com</p>
                    <br>
                    <h5>Disclaimers for Euphonime</h5><br>
                    <p>All the information on this website - www.euphonime.com - is published in good faith and for general information purpose only. Euphonime does not make any warranties about the completeness, reliability and accuracy of this information. Any action you take upon the information you find on this website (Euphonime), is strictly at your own risk. Euphonime will not be liable for any losses and/or damages in connection with the use of our website.</p>
                    <p>From our website, you can visit other websites by following hyperlinks to such external sites. While we strive to provide only quality links to useful and ethical websites, we have no control over the content and nature of these sites. These links to other websites do not imply a recommendation for all the content found on these sites. Site owners and content may change without notice and may occur before we have the opportunity to remove a link which may have gone 'bad'.                    </p>
                    <p>Please be also aware that when you leave our website, other sites may have different privacy policies and terms which are beyond our control. Please be sure to check the Privacy Policies of these sites as well as their "Terms of Service" before engaging in any business or uploading any information.</p>
                    <br><h5>Consent</h5><br>
                    <p>By using our website, you hereby consent to our disclaimer and agree to its terms.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Club Section End -->

    {% endblock content %}

    {% block extra_js %}
    {% endblock extra_js %}
