    {% extends "euphonime/index.html" %}
    {% load static %}

    {% block title %}
    <title>{{character.name}} - {{anime.0.anime.title}} - EuphoNime</title>
    {% endblock title %}

    {% block site_logo %}
    {% if not character.image %}
    <meta property="og:image" content="{{character.image_url}}">
    {% else %}
    <meta property="og:image" content="{{character.image.url}}">
    {% endif %}

    <meta property="og:title" content="{{character.name}} - EuphoNime">

    <meta property="og:description" content="{{ character.description|striptags|safe|truncatewords:140 }}">

    <meta name="description" content="{{ character.description|striptags|safe|truncatewords:140 }}" />
    {% endblock site_logo %}

    {% block meta %}
    {% for m in meta %}
    {{m.value|safe}}
    {% endfor %}
    {% endblock meta %}

    {% block content %}

    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'euphonime/css/quote-list.css' %}" type="text/css">
        <style>
            body {
                background: #eaeaea;
            }
            .header__top {
                background: #FFFFFF;
            }
        </style>
    {% endblock extra_css %}


    <!-- Club Section Begin -->
    <section class="club-section spad" style="padding-top:30px; padding-bottom:0;">
        <div class="container">
            <div class="club-content">
                <div class="row">
                    <div class="col-lg-4" style="background:#FFF; padding:30px;">
                        <div class="cc-pic">

                            <center>
                            <div style="width:200px; height:250px; background:url('{{character.image_url}}'); background-size:cover;">
                            </div>
                            </center>

                        </div>
                        <div class="container" style="margin-top:1em;">
                                    <div class="schedule-text">
                                        <h2 class="st-title" style="background:#00619D; color:#ffffff; font-size:16px;">Info Karakter</h2>
                                        <div class="st-table">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td class="left-team">
                                                            <p>Anime</p>
                                                        </td>
                                                        <td class="left-team">
                                                            <p style="font-size:14px;">
                                                                <ul>
                                                                    {% for a in anime %}
                                                                    <li><p style="font-size:14px;"><a href="{% url 'anime' a.anime.id %}">{{a.anime.title}}</a></p></li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="left-team">
                                                            <p>Nama Jepang</p>
                                                        </td>
                                                        <td class="left-team">
                                                            <p style="font-size:14px;">{% if character.native_name == 'None' %}-{% else %}{{character.native_name}}{% endif %}</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="left-team">
                                                            <p>Pengisi Suara</p>
                                                        </td>
                                                        <td class="left-team">
                                                            <p style="font-size:14px;">{% if character.voice_act%}{{character.voice_act.name}}{% else %}-{% endif %}</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="left-team">
                                                            <p>Peran</p>
                                                        </td>
                                                        <td class="left-team">
                                                            <p style="font-size:14px;">{{character.get_role_display}}</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                        </div>
                    </div>

                    <div class="col-lg-8" style="background:#FFF; padding:30px;">
                        <div class="cc-text">
                            <div class="ct-title">
                                <div class="row">
                                <h1 style="background:#00619D; font-size:14px; color:white; padding:10px;">{{character.name}}</h1>
                                </div>
                                <br>
                                <h4>{{ anime.title }}</h4>
                                <hr>
                                {% if character.description %}
                                <p style="font-size:14px">{{ character.description|safe }}</p>
                                {% else %}
                                    <center>
                                        <img src="{% static 'euphonime/img/nodes.png' %}">
                                        <h4>No Description...</h4>
                                    </center>
                                {% endif %}                            </div>

                            <div id="fb-root"></div>
                              <script>(function(d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (d.getElementById(id)) return;
                                js = d.createElement(s); js.id = id;
                                js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
                                fjs.parentNode.insertBefore(js, fjs);
                              }(document, 'script', 'facebook-jssdk'));</script>

                              <!-- Your share button code -->
                              <div class="fb-share-button"
                                data-href="{% url 'character' character.id %}"
                                data-layout="button_count">
                              </div>

                        </div>
                        <div class="club-tab-list">
                <div class="row">
                    <div class="col-lg-12 m-auto">
                        <div class="container-fluid">
                                <!-- Timelime example  -->
                                <div class="row">
                                  <div class="col-md-12">
                                    <!-- The time line -->
                                    <div class="timeline">
                                      <!-- timeline time label -->
                                      <div class="time-label">
                                        <span class="bg-red"><h5 style="color:#00619D;"><b>Quote</b></h5></span>
                                      </div>
                                        {% if quotes %}
                                          {% for q in quotes %}
                                          <div>
                                            <div class="timeline-item">
                                              <span class="time" style="color:#fff;"><i class="fas fa-clock"></i> {{q.updated}}</span>
                                              <h3 style="background:#00619D; color:#fff; padding:10px;" class="timeline-header"><i class="fa fa-quote-left"></i>&ensp;{{ character.name }}</h3>
                                              <div class="timeline-body" style="padding:10px; margin-top:0;">
                                                  <p class="text-justify">{{q.quote}}</p>
                                              </div>

                                            </div>
                                          </div>
                                          {% endfor %}
                                        {% else %}
                                        <br>
                                        <div>
                                        <div class="timeline-item">
                                          <h3 style="background:#00619D; color:#fff; padding:10px;" class="timeline-header"><i class="fa fa-quote-left"></i>&ensp;{{ character.name }}</h3>
                                          <span class="time text-right" style="color:#fff;"><i class="fas fa-clock"></i> Unkown</span>

                                          <div class="timeline-body" style="height:150px;background:url({% static 'euphonime/img/noquote.png' %}); background-position:center;background-size:cover;">
                                                <h2 style="color:gray;padding-left:10px">No Quote !!</h2>
                                          </div>
                                        </div>
                                      </div>
                                        {% endif %}

                                    </div>
                                  </div>
                                </div>
                              </div>
                    </div>
                </div>
            </div>

                    </div>

                </div>
            </div>




        </div>
    </section>
    <!-- Club Section End -->

    {% endblock content %}
