    {% extends "euphonime/index.html" %}
    {% load static %}

    {% block title %}
    <title>Characters - EuphoNime</title>
    {% endblock title %}

    {% block extra_css %}

    {% endblock extra_css %}


    {% block content %}
    <section class="schedule-section spad">
        <div class="container">
            <div class="col-lg-12 left-blog-pad">
                    <div class="schedule-text">
                            <div class="section-title sidebar-title">
                                <h5>Karakter</h5>
                            </div>
                        <div class="st-table table table-hover">
                            <table style="padding: 4px 0;border-bottom: #EBEBEB 1px solid;">
                                <thead>
                                    <tr>
                                        <th width="5%">#</th>
                                        <th width="10%" style="padding-left: 8px;text-align: left;">Image</th>
                                        <th width="40%" style="padding-left: 8px;text-align: left;">Name</th>
                                        <th width="10%">Score</th>
                                        <th width="25%">Anime</th>
                                        <th width="10%">Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for ch in characters %}
                                    <tr>

                                        <td class="st-option">
                                            <div class="so-text">
                                                {{ forloop.counter0|add:characters.start_index }}
                                            </div>
                                        </td>
                                        <td class="left-team">
                                            <a href="{% url 'character' ch.id.hex %}">
                                            <img style="width: 48px;height: 68px;" src="{% if ch.image %}{{ch.image.url}}{% else %}{{ ch.image_url }}{% endif %}" alt="">
                                            </a>
                                        </td>
                                        <td class="st-option" style="padding-left: 8px;text-align: left;">
                                            <div class="so-text"><a href="{% url 'character' ch.id.hex %}">{{ch.name}}</a></div>
                                        </td>
                                        <td class="st-option">
                                            <div class="so-text">#</div>
                                        </td>
                                        <td class="st-option">
                                            <div class="so-text">{{ch.anime.title}}</div>
                                        </td>
                                        <td class="st-option">
                                            <div class="so-text">{{ch.anime.get_type_display}}</div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            <div class="more-blog">
                <span>
                    {% if characters.has_previous %}
                        <a href="?page={{ characters.previous_page_number }}"><i class="fa fa-long-arrow-left"></i> Back</a>
                    {% endif %}

                    {% if characters.has_next %}
                        <a href="?page={{ characters.next_page_number }}"> Next<i class="fa fa-long-arrow-right"></i></a>
                    {% endif %}
                </span>
                <span >
                        Page {{ characters.number }} of {{ characters.paginator.num_pages }}.
                </span>
            </div>
        </div>
    </section>
    {% endblock content %}


    {% block extra_js %}
    <script>

    $(document).ready(function(){
        $('#3').addClass("active");
    });
    </script>
    {% endblock extra_js %}

