    {% extends "euphonime/index.html" %}
    {% load static %}

    {% block meta %}
    {% for m in meta %}
    {{m.value|safe}}
    {% endfor %}
    {% endblock meta %}

    {% block extra_css %}

    {% endblock extra_css %}


    {% block content %}
    <section class="schedule-section spad">
        <div class="container">
            <center>
            <style>#M561725ScriptRootC862304 {min-height: 300px;}</style>
            <!-- Composite Start -->
                <div id="amzn-assoc-ad-3bfeea7a-63d0-4586-a04a-a1f1e4a6e804"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=3bfeea7a-63d0-4586-a04a-a1f1e4a6e804"></script>
            <!-- Composite End -->
            </center>
                    <div class="schedule-text">
                        <div class="row">
                                <div class="col-md-8">

                                </div>
                                <div class="col-md-4">
                                {% block search %}
                                    {% include 'euphonime/__includes/__search/__search2.html' %}
                                {% endblock search %}
                                </div>
                            </div>
                            <div class="section-title sidebar-title">
                                <h1 style="font-size:24px;">Karakter</h1>
                            </div>
                        <div class="st-table table table-hover">
                            <table style="padding: 4px 0;border-bottom: #EBEBEB 1px solid;">
                                <thead>
                                    <tr>
                                        <th width="5%">#</th>
                                        <th width="10%" style="padding-left: 8px;text-align: left;">Image</th>
                                        <th width="40%" style="padding-left: 8px;text-align: left;">Name</th>
                                        <th width="25%">Anime</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for ch in characters %}
                                    <tr>

                                        <td class="st-option">
                                            <div class="so-text">
                                                {{ forloop.counter0|add:characters.start_index }}
                                            </div>
                                        </td>
                                        <td class="left-team">
                                            <a href="{% url 'character' ch.character.prefix_id ch.character.slug %}">
                                            <img style="width: 48px;height: 68px;" src="{% if ch.character.image %}{{ch.character.image.url}}{% else %}{% if ch.character.image_url == 'https://cdn.myanimelist.net/img/sp/icon/apple-touch-icon-256.png' %}{% static 'euphonime/img/anonymous.jpg' %}{% else %}{{ ch.character.image_url }}{% endif %}{% endif %}" alt="{{ch.character.name}}">
                                            </a>
                                        </td>
                                        <td class="st-option" style="padding-left: 8px;text-align: left;">
                                            <div class="so-text"><a href="{% url 'character' ch.character.prefix_id ch.character.slug %}">{{ch.character.name}}</a></div>
                                        </td>
                                        <td class="st-option">
                                            <div class="so-text">
                                                {% for a in ch.anime_character %}
                                                <b><a href="{% url 'anime' pk=a.anime.prefix_id slug=a.anime.slug %}">{{a.anime.title}}</a></b>,
                                                {% endfor %}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
            <div class="more-blog">
                <span>
                    {% if characters.has_previous %}
                        <a href="?page={{ characters.previous_page_number }}"><i class="fa fa-long-arrow-left"></i> Back</a>
                    {% endif %}

                    {% if characters.has_next %}
                        <a href="?page={{ characters.next_page_number }}"> Next<i class="fa fa-long-arrow-right"></i></a>
                    {% endif %}
                </span>
                <span >
                        Page {{ characters.number }} of {{ characters.paginator.num_pages }}.
                </span>
            </div>
            <hr>
            <style>#M561725ScriptRootC862304 {min-height: 300px;}</style>
            <!-- Composite Start -->
                <div id="M561725ScriptRootC862304">
                </div>
                <script src="https://jsc.mgid.com/e/u/euphonime.com.862304.js" async>
                </script>
            <!-- Composite End -->
        </div>
    </section>
    {% endblock content %}


    {% block extra_js %}
    <script>

    $(document).ready(function(){
        $('#3').addClass("active");
    });
    </script>
    {% endblock extra_js %}

