{% extends "euphonime/index.html" %}
{% load static %}
{% block title %}
<title>EuphoNime</title>
{% endblock title %}

{% block site_logo %}
    <meta property="og:image" content="{{request.scheme}}://{{request.META.HTTP_HOST}}{% static 'euphonime/img/logo.png' %}">

    <meta name="description" content="EuphoNime adalah media, database anime, dan situs komunitas untuk penggemar anime yang dapat saling berinteraksi di Indonesia." />
{% endblock site_logo %}

{% load static %}


    {% block content %}
    <section class="soccer-section">
        <div class="container" style="background:#FFFFFF;">
            <center>
            <img src="{% static 'euphonime/img/anime-banner.jpg' %}" height="120">
            <img src="{% static 'euphonime/img/anime-banner2.gif' %}" height="120">
            </center><br>
            <div class="row">
                <div class="col-lg-12 p-0">
                    <div class="section-title">
                        <h3><span><img src="{% static 'euphonime/servant/modred-chibi.png' %}" height="50"></span> <span>Anime</span> Musim ini</h3>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="video-slider owl-carousel">

<!--                <center>-->
<!--                    <div class="load-this-season">-->
<!--                        <center>-->
<!--                        Loading...-->
<!--                        </center>-->
<!--                    </div>-->
<!--                </center>-->
                    <div class="col-lg-3 col-sm-6 p-0 load-this-season" style="width:150px;">
                        <div class="soccer-item set-bg" data-setbg="" style=" background:#efefef;">
                            <div class="si-tag"></div>
                            <div class="si-text">
                                <h6 style="font-size:0.9rem;"><a style="color:#fff;">Loading...</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 p-0 load-this-season" style="width:150px;">
                        <div class="soccer-item set-bg" data-setbg="" style=" background:#efefef;">
                            <div class="si-tag"></div>
                            <div class="si-text">
                                <h6 style="font-size:0.9rem;"><a style="color:#fff;">Loading...</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 p-0 load-this-season" style="width:150px;">
                        <div class="soccer-item set-bg" data-setbg="" style=" background:#efefef;">
                            <div class="si-tag"></div>
                            <div class="si-text">
                                <h6 style="font-size:0.9rem;"><a style="color:#fff;">Loading...</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 p-0 load-this-season" style="width:150px;">
                        <div class="soccer-item set-bg" data-setbg="" style=" background:#efefef;">
                            <div class="si-tag"></div>
                            <div class="si-text">
                                <h6 style="font-size:0.9rem;"><a style="color:#fff;">Loading...</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 p-0 load-this-season" style="width:150px;">
                        <div class="soccer-item set-bg" data-setbg="" style=" background:#efefef;">
                            <div class="si-tag"></div>
                            <div class="si-text">
                                <h6 style="font-size:0.9rem;"><a style="color:#fff;">Loading...</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 p-0 load-this-season" style="width:150px;">
                        <div class="soccer-item set-bg" data-setbg="" style=" background:#efefef;">
                            <div class="si-tag"></div>
                            <div class="si-text">
                                <h6 style="font-size:0.9rem;"><a style="color:#fff;">Loading...</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 p-0 load-this-season" style="width:150px;">
                        <div class="soccer-item set-bg" data-setbg="" style=" background:#efefef;">
                            <div class="si-tag"></div>
                            <div class="si-text">
                                <h6 style="font-size:0.9rem;"><a style="color:#fff;">Loading...</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 p-0 load-this-season" style="width:150px;">
                        <div class="soccer-item set-bg" data-setbg="" style=" background:#efefef;">
                            <div class="si-tag"></div>
                            <div class="si-text">
                                <h6 style="font-size:0.9rem;"><a style="color:#fff;">Loading...</a></h6>
                            </div>
                        </div>
                    </div>
                    {% for sn in season_nime %}

                    <div class="col-lg-3 col-sm-6 p-0 this-season" style="width:150px; visibility:hidden;">
                        <div class="soccer-item set-bg" data-setbg="{{ sn.image_url }}" onclick="location.href='{% url 'anime' sn.id.hex %}';">
                            <div class="si-tag">{{sn.get_type_display}}</div>
                            <div class="si-text">
                                <h6 style="font-size:0.9rem;"><a style="color:#fff;" href="{% url 'anime' sn.id.hex %}">{{ sn.title|truncatechars:18 }}</a></h6>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>

        </div>

    </section>



    <br>
    <section class="latest-section">
        <div class="container" style="background:#FFFFFF;">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-title">
                        <h3><span><img src="{% static 'euphonime/img/umaru.jpg' %}" height="50"></span> <span>Anime</span> Terbaru</h3>
                    </div>
                    <div class="row">
                        {% for sn in new_anime %}
                        <div class="col-lg-12" >
                            <div class="news-item"style="border-bottom: 1.5px solid #f2f2f2;">
                                <div class="ni-pic">
                                    <a href="{% url 'anime' sn.id.hex %}">
                                        <img src="{% if sn.image %}{{sn.image.url}}{% else %}{{ sn.image_url }}{% endif %}" alt="">
                                    </a>
                                </div>
                                <div class="ni-text">
                                    <h5><a href="{% url 'anime' sn.id.hex %}">{{sn.title}}</a></h5>

                                    <p class="text-justify">
                                        {% autoescape off %}
                                        {{sn.description|truncatechars:150}}
                                        {% endautoescape %}</p>

                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    <div class="points-table">
                        <a href="{% url 'list_anime' %}" class="p-all">Tampilkan Semua</a>
                    </div>
                    <br>
                    <div class="section-title">
                        <h3><span><img src="{% static 'euphonime/img/sasha.jpg' %}" height="50"></span> <span>Artikel</span> Terbaru</h3>
                    </div>
                    <div class="row">
                        {% for a in article %}
                        <div class="col-md-6">
                            <div class="news-item popular-item set-bg" data-setbg="{{a.image.url}}" onclick="location.href='{% url 'article' a.id.hex %}';">
                                <div class="ni-tag tenis">{{a.title}}</div>
                                <div class="ni-text">
                                    <ul>
                                        <li><i class="fa fa-calendar"></i> {{a.updated|date:'d F Y'}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="points-table">
                        <a href="{% url 'list_article' %}" class="p-all">Tampilkan Semua</a>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="section-title">
                        <h3><span>Anime </span> Ranking <span><img src="{% static 'euphonime/img/chun.jpg' %}" height="50"></span></h3>
                    </div>
                    <b style="color:red">P</b>=Polling, <b style="color:red">W</b>=Watch, <b style="color:red">S</b>=Scores
                    <hr>
                    <div class="points-table" style="max-height:500px; overflow-y:scroll; overflow-x:hidden;">
                        <table>
                            <thead>
                                <tr>
                                    <th class="th-o">Rank</th>
                                    <th>Anime</th>
                                    <th class="th-o">P</th>
                                    <th class="th-o">W</th>
                                    <th class="th-o">S</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for a in polls %}
                                <tr>
                                    <td>{{a.number}}</td>
                                    <td class="team-name">
                                        {% if not a.obj.image %}
                                        <a href="{% url 'anime' a.obj.id.hex %}"><img src="{{a.obj.image_url}}" alt="{{a.obj.title}}" style="width:64px; height:100px;"></a>
                                        {% elif a.obj.image %}
                                        <a href="{% url 'anime' a.obj.id.hex %}"><img src="{{a.obj.image.url}}" alt="{{a.obj.title}}" style="width:64px; height:100px;"></a>
                                        {% else %}
                                        <a href="{% url 'anime' a.obj.id.hex %}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png" alt="" width="150"></a>
                                        {% endif %}
                                        <br>
                                        <a href="{% url 'anime' a.obj.id.hex %}">{{a.obj.title|truncatechars:15}}</a>
                                    </td>
                                    <td>{{a.polls}}</td>
                                    <td>{{a.watch}}</td>
                                    <td>{{a.score|floatformat:2}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                    <div class="points-table">
                    <a href="#" class="p-all">View All</a>
                    </div>
                    <hr>
                    <iframe src="https://discordapp.com/widget?id=689877188325277715&theme=dark" style="width:100%" height="500" allowtransparency="true" frameborder="0"></iframe>
                    <hr>
                    {% block follow %}
                        {% include 'euphonime/__includes/__sosmed/__follow.html' %}
                    {% endblock follow %}
                </div>
            </div>
        </div>
    </section>


    <!-- Popular News Section End -->
    {% endblock content %}


    {% block extra_js %}
    <script>
        $('.si-tag').ready(() => {
            $('.this-season').hide();
        });
        $('.si-tag').ready(() => {
            setTimeout( function() { $('.load-this-season').hide(); }, 1000 );
            setTimeout( function() {
                $('.this-season').slideDown('slow');

            }, 1000 );
            setTimeout( function() {
                $('.this-season').css('visibility', 'visible');

            }, 1000 );
        })

    </script>

    {% endblock extra_js %}
