{% load static %}
<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="D31HS8OKEQTuVe2cYV11sL2dZmItdJrsRx0cQ7eHHMc" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="icon" type="image/png" href="{% static 'euphonime/img/euphonime-icon.jpg' %}"/>

    {% block title %}
    {% endblock title %}
<!--    <meta name="keywords" content="berita anime, info anime, info karakter anime, berita otaku, forum otaku"/>-->

    {% block site_logo %}
    {% endblock site_logo %}

    {% block meta %}
    {% endblock meta %}

    {% block css %}
            {% include 'euphonime/__includes/__css/__css.html' %}
    {% endblock css %}

    {% block extra_css %}
    {% endblock extra_css %}
<script data-ad-client="ca-pub-5955135769189308" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body>
    {% block navbar %}
            {% include 'euphonime/__includes/__navbar/__navbar.html' %}
    {% endblock navbar %}

    {% block content %}
    {% endblock content %}

    {% block footer %}
            {% include 'euphonime/__includes/__footer/__footer.html' %}
    {% endblock footer %}

    {% block js %}
            {% include 'euphonime/__includes/__js/__js.html' %}
    {% endblock js %}

    {% block extra_js %}

    {% endblock extra_js %}

</body>

</html>