{% load static %}
{% load socialaccount %}
{% providers_media_js %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="google-site-verification" content="D31HS8OKEQTuVe2cYV11sL2dZmItdJrsRx0cQ7eHHMc" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login - EuphoNime</title>
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'euphonime/login/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'euphonime/login/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'euphonime/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'euphonime/login/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'euphonime/login/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'euphonime/login/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'euphonime/login/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'euphonime/login/css/main.css' %}">
<!--===============================================================================================-->
</head>
<!--<body style="background-image: url({% static 'euphonime/img/stars.jpg' %}); background-repeat:repeat;)">-->
<body style="background-image: url({% static 'euphonime/login/images/background login.png' %});background-position: center;background-repeat: no-repeat; background-size: cover;">

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100" style="width:100%; background:transparent;">
				<div class="login100-pic js-tilt" data-tilt>
<!--					Mastaaa...!!!-->
<!--					<img src="{% static 'euphonime/servant/modred-chibi.png' %}" alt="IMG">-->
					<h1 class="clock" style="opacity:0.5;">00:00</h1>
					{% if failed %}
					<div class="error-message" style="display:none; width:100%; background:rgba(255,255,255,0.8); padding:25px; color:red;">[Failed]<br>{{message}}</div>
					{% else %}
					{% if user.username %}
						<div class="error-message" style="display:none; width:100%; background:rgba(255,255,255,0.8); padding:25px; color:purple;">
						You are currently logged in as:<br>
						[{{user.username}}]
						</div>
					{% else %}
					<div class="error-message" style="display:none; width:100%; background:rgba(255,255,255,0.8); padding:25px; color:purple;">
						Welcome,<br>
						Tell me your username and password...
					</div>
					{% endif %}
					{% endif %}
					<br>
					<a href="{% url 'home' %}" class="error-message" style="display:none; background:rgba(255,255,255,0.8); padding:10px; color:purple;">Back to Home</a>
					{% if failed %}
					<a href="{% url 'login' %}" class="error-message" style="display:none; background:rgba(255,255,255,0.8); padding:10px; color:purple;">Try Again</a>
					{% endif %}
					{% if user.username %}
					<a href="{% url 'profile' %}" class="error-message" style="display:none; background:rgba(255,255,255,0.8); padding:10px; color:purple;">Go to Profile</a>
					<a href="{% url 'logout' %}" class="error-message" style="display:none; background:rgba(255,255,255,0.8); padding:10px; color:purple;">Logout</a>
					{% endif %}

				</div>

				<form class="login100-form validate-form" method="post" action="{% url 'auth_login' %}">
					{% csrf_token %}
					<center>
						<img src="{% static 'euphonime/img/text logo.png' %}" style="opacity:0.5" width="200">
						{% if profile_pic %}
							<img src="{{profile_pic}}" width="150" style="border-radius:100px;">
						{% else %}
						<a href="{% url 'profile' %}">
							<img src="{% static 'euphonime/img/peek1.png' %}" width="100" style="border-radius:100px;">
						</a>
						{% endif %}
					</center>
					<span class="login100-form-title">
						{% if user.username %}
						<a href="{% url 'profile' %}"><h3>{{user.username}}</h3></a>
						<a href="{% url 'profile' %}"><u>Profile</u></a>
						{% endif %}
					</span>
					{% if not user.username %}
					<div class="wrap-input100 validate-input">
						<input class="input100" style="background:rgba(255,255,255,0.5)" type="text" autocomplete="off" name="username" placeholder="Username">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input style="background:rgba(255,255,255,0.5)" class="input100" type="password" name="password" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					<p class="error-nomnom" style="color:red; text-align:center;">{{message}}</p>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" style="opacity:0.5" >Login</button>
					</div>

                    <div class="container-login100-form-btn">
						<a href="{% provider_login_url 'google' method='oauth2' %}" class="login100-form-btn" style="background-color:#18bfed; opacity:0.5;">
							<i class="fa fa-google" style="margin-right:10px;"></i> Login with Google
						</a>
					</div>

					<div class="text-center p-t-12">
<!--						<span class="txt1">-->
<!--							Forgot-->
<!--						</span>-->
<!--						<a class="txt2" href="#">-->
<!--							Username / Password?-->
<!--						</a>-->
<!--                        <br>-->
                        <a class="txt2" href="{% url 'register' %}">
							Create your Account
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
					{% endif %}
				</form>
			</div>
		</div>
	</div>




<!--===============================================================================================-->
	<script src="{% static 'euphonime/login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'euphonime/login/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'euphonime/login/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'euphonime/login/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->

    <script src="https://momentjs.com/downloads/moment.min.js"></script>

	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="{% static 'euphonime/login/js/main.js' %}"></script>

	<script>
		$(document).ready(() => {
			$('.error-message').show(500);


            setInterval(() => {
                $('.clock').text(moment().format('h:mm:ss a'));

                }, 1000);
		});
	</script>

</body>
</html>