    {% extends "euphonime/index.html" %}
    {% load static %}

    {% block title %}
    <title>EuphoNime</title>
    {% endblock title %}

    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'euphonime/plugins/daterangepicker/daterangepicker.css' %}">
    {% endblock extra_css %}

    {% block content %}
    <!-- Club Section Begin -->
    <style>
        body {
        background: #eaeaea;
        }
    </style>
    <section class="club-section spad" style="padding-top:10px;">
        <div class="container">
            <div class="club-content">
                <div class="row">
                    <div class="col-lg-3" style="background:#FFFFFF; padding:10px;">
                        <div class="cc-pic" style="margin-top:20px;">
                            {% if profile_pic %}
                            <img src="{{profile_pic}}" alt="" width="100">
                            {% else %}
                            <img src="{% static 'euphonime/servant/modred-chibi.png' %}" alt="" width="100"><br>
                            <p>halo mastaa....!!</p>
                            {% endif %}

                        </div>
                        <div class="container" style="margin-top:1em;">
                            <div class="schedule-text">
                                        <h4 style="background:#00619D; color:#ffffff; font-size:18px; padding:10px; text-align:center;">{{user.username}}</h4>
                                        <br>
                                        <div class="st-table" style="font-size:12px;">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td class="left-team">
                                                            <p>{{user.email}}</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="left-team">
                                                            <p style="font-size:12px;">Tanggal Lahir &emsp;
                                                                <a href="" data-toggle="modal" data-target="#birth_date">
                                                                    <i class="fa fa-edit"></i>
                                                                </a>
                                                            </p>
                                                            <p>{% if profile.birth_date %}{{profile.birth_date|date:'d F Y'}}{% else %} - {% endif %}</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                        </div>
                    </div>

                    <div class="col-lg-9" style="background:#FFFFFF; border-left:1px solid #00619D;">
                        <div class="cc-text">
                            <div class="ct-title">
                                <hr>
                                <div>
                                    {% if sosmed_pic %}
                                    <img src="{{sosmed_pic}}" width="70">
                                    {% endif %}
                                    <a href="{% url 'logout' %}" style="background:#00619D; color:#FFF; padding:10px;">Logout</a>
                                    <hr>
                                    <div class="row">

                                        <div class="col-sm-6">
                                            <div style="font-size:12px;">
                                                <h6>Biodata &emsp;
                                                    <a href="" data-toggle="modal" data-target="#biodata">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                </h6><br>
                                                {% if profile.biodata %}
                                                <p class="text-justify" style="font-size:14px">{% autoescape off %}{{profile.biodata|truncatechars:380}}{% endautoescape %} <a href="" data-toggle="modal" data-target="#biodataReadMore">Cek Lebih</a></p>
                                                {% else %}
                                                <div class="row" style="padding:10px">
                                                <img src="{% static 'euphonime/img/dance2.gif' %}" alt="" width="150px">
                                                &emsp;
                                                <span>Biodata Kosong...</span>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div style="font-size:12px;">
                                                <h6>Anime terakhir yang ditonton:</h6><br>
                                                {% if user_watching %}
                                                <ul>
                                                    {% for a in user_watching %}
                                                    <li>{{a.anime.title}}</li>
                                                    {% endfor %}
                                                </ul>
                                                {% else %}
                                                <p>Belum ada anime yang ditonton.</p>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <p style="background:#00619D; color:#FFF; padding:10px;">Statistik</p>
                                    <hr>
                                    <div class="row">

                                        <div class="col-sm-6">
                                            <canvas id="myPieChart" width="400" height="400"></canvas>
                                        </div>

                                        <div class="col-sm-6">
                                            <canvas id="myChart" width="400" height="400"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="club-tab-list">
                            <div class="row">
                                <div class="col-lg-12 m-auto">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                            <div class="club-tab-content">
                                                {% for ch in character %}
                                                <div class="ct-item">
                                                    <div class="ci-text">
                                                        <img style="width:50px;" src="{% if ch.image %}{{ch.image.url}}{% else %}{{ ch.image_url }}{% endif %}" alt="">
                                                        <div class="row">
                                                            <h5>{{ch.name}}</h5>
                                                            <p style="font-size:0.7rem;">({{ch.get_role_display}})</p>
                                                        </div>
                                                    </div>
                                                    <div class="ci-text" style="width:200px;float:right;">
                                                        <img style="width:50px;" src="{% if ch.voice_act.image %}{{ch.voice_act.image.url}}{% else %}{{ ch.voice_act.image_url }}{% endif %}" alt="">
                                                        <h5>{{ch.voice_act.name}}</h5>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                                            <div class="club-tab-content">
                                                <div class="ct-item">
                                                    <div class="ci-text">
                                                        <img src="img/club/p-5.jpg" alt="">
                                                        <h5>09. John Thompson</h5>
                                                    </div>
                                                    <div class="ci-name">Central midfielder</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                                            <div class="club-tab-content">
                                                <div class="ct-item">
                                                    <div class="ci-text">
                                                        <img src="img/club/p-1.jpg" alt="">
                                                        <h5>12. Buddy Peck</h5>
                                                    </div>
                                                    <div class="ci-name">Forward</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tabs-4" role="tabpanel">
                                            <div class="club-tab-content">
                                                <div class="ct-item">
                                                    <div class="ci-text">
                                                        <img src="img/club/p-1.jpg" alt="">
                                                        <h5>12. Buddy Peck</h5>
                                                    </div>
                                                    <div class="ci-name">Forward</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tabs-5" role="tabpanel">
                                            <div class="club-tab-content">
                                                <div class="ct-item">
                                                    <div class="ci-text">
                                                        <img src="img/club/p-3.jpg" alt="">
                                                        <h5>18. Hanry Edison</h5>
                                                    </div>
                                                    <div class="ci-name">Goalkeeper </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Club Section End -->

    <!-- Modal Biodata-->
    <div class="modal fade" id="biodata" tabindex="-1" role="dialog"  aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" >Biodata</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="contact-form">
                <form method="post" action="{% url 'edit_profile' profile.id %}">{% csrf_token %}
                    <div class="group-in">
                        <textarea class="form-control" name="biodata"></textarea>
                    </div>
                    <div class="group-in text-right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Biodata Read More -->
    <div class="modal fade" id="biodataReadMore" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" >{{user.username}} Biodata</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <p class="text-justify">{{profile.biodata|safe}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Modal birth_date-->
    <div class="modal fade" id="birth_date" tabindex="-1" role="dialog"  aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" >Tanggal Lahir</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="contact-form">
                <form method="post" action="{% url 'edit_profile' profile.id %}">{% csrf_token %}
                    <div class="group-in">
                        <input type="date" name="birth_date" class="form-control" autocomplete="off"
                                           value="{{ profile.birth_date|date:'m/d/Y' }}">
                    </div>
                    <div class="group-in text-right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock content %}

    {% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdnjs.com/libraries/Chart.js"></script>
    <script>
        $(document).ready(() => {
            $('.header__top').hide();
        })
    </script>

    <script>
        var ctx = document.getElementById('myPieChart');
        var myChart = new Chart(ctx, {
            type: 'radar',
            data: {
                labels: ['😍', '😆', '😄', '😁', '😊', '😋', '😗', '😲', '😶', '🙃'],
                datasets: [{
                    label: '# of Score',
                    data: {{score_data}},
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        </script>

    <script>
        var ctx = document.getElementById('myChart');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Selesai  ditonton', 'Sedang ditonton', 'Menunda', 'Tidak melanjutkan'],
                datasets: [{
                    label: '# of Votes',
                    data: {{watch_data}},
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        </script>

    {% endblock extra_js %}
