    {% extends "euphonime/index.html" %}
    {% load static %}
    {% block content %}
    <!-- Club Section Begin -->
    <section class="club-section spad">
        <div class="container">
            <div class="club-content">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="cc-pic">
                            {% if profile_pic %}
                            <img src="{{profile_pic}}" alt="">
                            {% else %}
                            <img src="{% static 'euphonime/img/anonymous.jpg' %}" alt="">
                            {% endif %}
                        </div>
                        <div class="container" style="margin-top:1em;">
                                    <div class="schedule-text">
                                        <h4 class="st-title">{{user.username}}</h4>
                                        <div class="st-table">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td class="left-team">
                                                            <p>Email</p>
                                                        </td>
                                                        <td class="right-team">
                                                            <p>{{user.email}}</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="left-team">
                                                            <p>Tanggal Lahir</p>
                                                        </td>
                                                        <td class="left-team">
                                                            <p>-</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="left-team">
                                                            <p>Bio</p>
                                                        </td>
                                                        <td class="left-team">
                                                            <p>-</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="cc-text">
                            <div class="ct-title">
                                <h3>{{ anime.title }}</h3>
                                <div>
                                    OK
                                </div>
                            </div>

                        </div>
                        <div class="club-tab-list">
                <div class="row">
                    <div class="col-lg-12 m-auto">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="club-tab-content">
                                    {% for ch in character %}
                                    <div class="ct-item">
                                        <div class="ci-text">
                                            <img style="width:50px;" src="{% if ch.image %}{{ch.image.url}}{% else %}{{ ch.image_url }}{% endif %}" alt="">
                                            <div class="row">
                                                <h5>{{ch.name}}</h5>
                                                <p style="font-size:0.7rem;">({{ch.get_role_display}})</p>
                                            </div>
                                        </div>
                                        <div class="ci-text" style="width:200px;float:right;">
                                            <img style="width:50px;" src="{% if ch.voice_act.image %}{{ch.voice_act.image.url}}{% else %}{{ ch.voice_act.image_url }}{% endif %}" alt="">
                                            <h5>{{ch.voice_act.name}}</h5>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="club-tab-content">
                                    <div class="ct-item">
                                        <div class="ci-text">
                                            <img src="img/club/p-5.jpg" alt="">
                                            <h5>09. John Thompson</h5>
                                        </div>
                                        <div class="ci-name">Central midfielder</div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                                <div class="club-tab-content">
                                    <div class="ct-item">
                                        <div class="ci-text">
                                            <img src="img/club/p-1.jpg" alt="">
                                            <h5>12. Buddy Peck</h5>
                                        </div>
                                        <div class="ci-name">Forward</div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-4" role="tabpanel">
                                <div class="club-tab-content">
                                    <div class="ct-item">
                                        <div class="ci-text">
                                            <img src="img/club/p-1.jpg" alt="">
                                            <h5>12. Buddy Peck</h5>
                                        </div>
                                        <div class="ci-name">Forward</div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-5" role="tabpanel">
                                <div class="club-tab-content">
                                    <div class="ct-item">
                                        <div class="ci-text">
                                            <img src="img/club/p-3.jpg" alt="">
                                            <h5>18. Hanry Edison</h5>
                                        </div>
                                        <div class="ci-name">Goalkeeper </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                    </div>

                </div>
            </div>




        </div>
    </section>
    <!-- Club Section End -->

    {% endblock content %}

    {% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
        $(document).ready(() => {
            $('.header__top').hide();
        })
    </script>

    {% endblock extra_js %}
