    {% extends "euphonime/index.html" %}
    {% load static %}

    {% block title %}
    <title>{{anime.title}} - EuphoNime</title>
    {% endblock title %}

    {% block site_logo %}
    {% if not anime.image %}
    <meta property="og:image" content="{{anime.image_url}}">
    {% else %}
    <meta property="og:image" content="{{anime.image.url}}">
    {% endif %}



    <meta name="description" content="Mencari informasi tentang anime {{anime.title}}? Temukan banyak hal tentang anime di EuphoNime!!..." />
    {% endblock site_logo %}

        {% block extra_css %}
        <link rel="stylesheet" href="{% static 'euphonime/css/adminlte.min.css' %}" type="text/css">
        <style>
            body {
                background: #eaeaea;
            }
            .header__top {
                background: #FFFFFF;
            }
        </style>
    {% endblock extra_css %}


    {% block content %}
    <!-- Club Section Begin -->
    <section class="club-section spad" style="padding-top:30px; padding-bottom:0;">
        <div class="container">
            <div class="club-content">
                <div class="row">
                    <div class="col-lg-4" style="background:#FFF; padding:30px;">
                        <div class="cc-pic">

                            <center>
                            <div style="width:200px; height:250px; background:url('{{anime.image_url}}'); background-size:cover;">
                            </div>
                            </center>

                        </div>
                        <div class="container" style="margin-top:1em;">
                                    <div class="schedule-text">
                                        <h4 class="st-title" style="background:#00619D; color:#ffffff; font-size:16px;">Info Anime</h4>
                                        <div class="st-table">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td class="left-team">
                                                            <p>Genre</p>
                                                        </td>
                                                        <td class="left-team">

                                                            <p style="font-size:14px;">{% if genre %}{% for gr in genre %}{{gr.genre.title}}, {% endfor %}{% else %} - {% endif %}</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="left-team">
                                                            <p>Total Episode</p>
                                                        </td>
                                                        <td class="left-team">
                                                            <p style="font-size:14px;">{{anime.total_episode}}</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="left-team">
                                                            <p>Durasi</p>
                                                        </td>
                                                        <td class="left-team">
                                                            <p style="font-size:14px;">{% if not anime.duration %} -{% else %}{{anime.duration}} min per eps {% endif %}</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="left-team">
                                                            <p>Tayang Mulai</p>
                                                        </td>
                                                        <td class="left-team">
                                                            <p style="font-size:14px;">{{anime.airing_date|date:'d F Y'}}</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="left-team">
                                                            <p>Studio</p>
                                                        </td>
                                                        <td class="left-team">
                                                            <p style="font-size:14px;">{% if anime.studio %}{{anime.studio}}{% else %}-{%endif%}</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div><br>
                                        <img src="{% static 'euphonime/img/banner-gif2.gif' %}">
                                    </div>

                        </div>
                    </div>

                    <div class="col-lg-8" style="background:#FFF; padding:30px;">
                        <div class="cc-text">
                            <div class="ct-title">
                                <div class="row">
                                <a style="background:#00619D; font-size:14px; color:white; padding:10px;">{{anime.get_type_display}}</a>
                                <p style="font-size:14px; padding:5px;">{% if anime.rating == "None" %} - {% else %}{{ anime.rating }}{% endif %}</p>
                                </div>
                                <br>
                                <h4>{{ anime.title }}</h4>
                                <hr>
                                <p class="text-justify" style="font-size:14px;">{{ anime.description| safe }}</p>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        Rating
                                        <canvas id="myChart" width="300" height="200"></canvas>
                                    </div>
                                    <div class="col-md-6">
                                        {% if not user_rate %}
                                        Skor
                                        <p style="font-size:14px;">Berikan skor anda</p>
                                        <table class="table table-responsive" cellpadding="5" style="text-align:center; font-size:18px;">
                                            <tr>
                                                <td><a class="emot" href="{% url 'rate_anime' anime.id 10 %}">😍</a></td>
                                                <td><a class="emot" href="{% url 'rate_anime' anime.id 9 %}">😆</a></td>
                                                <td><a class="emot" href="{% url 'rate_anime' anime.id 8 %}">😄</a></td>
                                                <td><a class="emot" href="{% url 'rate_anime' anime.id 7 %}">😁</a></td>
                                                <td><a class="emot" href="{% url 'rate_anime' anime.id 6 %}">😊</a></td>
                                                <td><a class="emot" href="{% url 'rate_anime' anime.id 5 %}">😋</a></td>
                                                <td><a class="emot" href="{% url 'rate_anime' anime.id 4 %}">😗</a></td>
                                                <td><a class="emot" href="{% url 'rate_anime' anime.id 3 %}">😲</a></td>
                                                <td><a class="emot" href="{% url 'rate_anime' anime.id 2 %}">😶</a></td>
                                                <td><a class="emot" href="{% url 'rate_anime' anime.id 1 %}">🙃</a></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:center; font-size:12px;">10</td>
                                                <td style="text-align:center; font-size:12px;">9</td>
                                                <td style="text-align:center; font-size:12px;">8</td>
                                                <td style="text-align:center; font-size:12px;">7</td>
                                                <td style="text-align:center; font-size:12px;">6</td>
                                                <td style="text-align:center; font-size:12px;">5</td>
                                                <td style="text-align:center; font-size:12px;">4</td>
                                                <td style="text-align:center; font-size:12px;">3</td>
                                                <td style="text-align:center; font-size:12px;">2</td>
                                                <td style="text-align:center; font-size:12px;">1</td>
                                            </tr>
                                        </table>
                                        {% else %}
                                        <div class="tanggapan">
                                            Anda memberikan anime ini skor:
                                            {% if user_rate.score == 10 %}
                                            <h2>😍</h2>
                                            {{user_rate.score}}
                                            {% elif user_rate.score == 9 %}
                                            <h2>😆</h2>
                                            {{user_rate.score}}
                                            {% elif user_rate.score == 8 %}
                                            <h2>😄</h2>
                                            {{user_rate.score}}
                                            {% elif user_rate.score == 7 %}
                                            <h2>😁</h2>
                                            {{user_rate.score}}
                                            {% elif user_rate.score == 6 %}
                                            <h2>😊</h2>
                                            {{user_rate.score}}
                                            {% elif user_rate.score == 5 %}
                                            <h2>😋</h2>
                                            {{user_rate.score}}
                                            {% elif user_rate.score == 4 %}
                                            <h2>😗</h2>
                                            {{user_rate.score}}
                                            {% elif user_rate.score == 3 %}
                                            <h2>😲</h2>
                                            {{user_rate.score}}
                                            {% elif user_rate.score == 2 %}
                                            <h2>😶</h2>
                                            {{user_rate.score}}
                                            {% elif user_rate.score == 1 %}
                                            <h2>🙃</h2>
                                            {{user_rate.score}}
                                            {% endif %}
                                            <hr>
                                        </div>
                                        {% endif %}
                                        <hr>
                                        {{status}}
                                        <form method="post" action="{% url 'watch_anime' anime.id %}">
                                            {% csrf_token %}
                                        <select name="status" class="form-control">
                                            <option value="-">---</option>
                                            <option value="1">Sedang ditonton</option>
                                            <option value="2">Selesai ditonton</option>
                                            <option value="3">Menunda</option>
                                            <option value="4">Tidak dilanjutkan</option>
                                        </select>
                                        <br>
                                        <input type="submit" class="btn btn-primary" style="width:100%;" ></input>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            {% block share %}
                                {% include 'euphonime/__includes/__sosmed/__share.html' %}
                            {% endblock share %}

                        </div>
                        <div class="club-tab-list">
                <div class="row">
                    <div class="col-lg-12 m-auto">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"><u>Karakter dan Pengisi Suara</u></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"><u>Anime Soundtrack</u></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab"><u>Quote</u></a>
                            </li>
                        </ul><!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="club-tab-content" style="max-height:500px; overflow-y:scroll;">
                                    {% for ch in character %}
                                    <div class="ct-item">
                                        <div class="ci-text" style="width:200px;float:left;">
                                            <a href="{% url 'character' ch.id.hex  %}">
                                            <img style="width:50px;" src="{% if ch.image %}{{ch.image.url}}{% else %}{{ ch.image_url }}{% endif %}" alt="">
                                            </a>
                                                <a href="{% url 'character' ch.id.hex  %}"><p style="font-size:14px"><b>{{ch.name}}</b></p></a>
                                                <p style="font-size:0.7rem;">({{ch.get_role_display}})</p>

                                        </div>
                                        <div class="ci-text" style="width:200px;float:right;">
                                            <img style="width:50px;" src="{% if ch.voice_act.image %}{{ch.voice_act.image.url}}{% else %}{{ ch.voice_act.image_url }}{% endif %}" alt="">
                                            <p style="font-size:14px">{{ch.voice_act.name}}</p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="club-tab-content">
                                    {% for o in ost %}
                                         <div class="ct-item">
                                        <div class="ci-text" style="width:200px;float:left;">
                                                <p style="font-size:14px"><b>{{o.title}}</b></p>
                                                <p style="font-size:0.7rem;">({{o.get_type_display}})</p>
                                        </div>
                                        <div class="ci-text" style="width:200px;float:right;">
                                            <img style="width:50px;" src="{% if o.author.icon %}{{o.author.icon.url}}{% else %}{% static 'euphonime/img/no-img.png' %}{% endif %}" alt="">
                                            <p style="font-size:14px">{{o.author.name}}</p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-4" role="tabpanel">
                                <div class="club-tab-content">
                                    <div class="ct-item">
                                        <div class="container-fluid">
                                                <div class="row">
                                                  <div class="col-md-12">
                                                    <!-- The time line -->
                                                    <div class="timeline">
                                                      <!-- timeline time label -->
                                                      <div class="time-label">

                                                      </div>
                                                        {% if quotes %}
                                                          {% for q in quotes %}
                                                          <div>
                                                            <i class="fa fa-quote-left"></i>
                                                            <div class="timeline-item">
                                                              <span class="time" style="color:#fff;"><i class="fas fa-clock"></i> {{q.updated}}</span>
                                                              <h3 style="background:#00619D; color:#fff;" class="timeline-header">{{ q.character.name }}</h3>

                                                              <div class="timeline-body">
                                                                  <p class="text-justify">{{q.quote}}</p>
                                                              </div>
                                                            </div>
                                                          </div>
                                                          {% endfor %}
                                                        {% else %}
                                                        <div>
                                                        <i class="fa fa-quote-left"></i>
                                                        <div class="timeline-item">
                                                          <span class="time" style="color:#fff;"><i class="fas fa-clock"></i> Unkown</span>
                                                          <h3 style="background:#00619D; color:#fff;" class="timeline-header">{{ character.name }}</h3>

                                                          <div class="timeline-body" style="height:150px;background:url({% static 'euphonime/img/noquote.png' %}); background-position:center;background-size:cover;">
                                                                <h1>No Quote !!</h1>
                                                          </div>
                                                        </div>
                                                      </div>
                                                        {% endif %}

                                                      <!-- END timeline item -->
                                                      <!-- timeline item -->
                                                    </div>
                                                  </div>
                                                  <!-- /.col -->
                                                </div>
                                              </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                    </div>

                </div>
            </div>




        </div>
    </section>
    <!-- Club Section End -->

    {% endblock content %}

    {% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdnjs.com/libraries/Chart.js"></script>
    <script>
        $(document).ready(() => {

        })
    </script>

    <script>
        var ctx = document.getElementById('myChart');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['🙃', '😶', '😲', '😗', '😋', '😊', '😁', '😄', '😆', '😍'],
                datasets: [{
                    label: 'Pemberi skor (jumlah orang)',
                    data: [{{rating_counter_1}}, {{rating_counter_2}}, {{rating_counter_3}}, {{rating_counter_4}}, {{rating_counter_5}}, {{rating_counter_6}}, {{rating_counter_7}}, {{rating_counter_8}}, {{rating_counter_9}}, {{rating_counter_10}}],
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        </script>

    {% endblock extra_js %}
