    {% extends "euphonime/index.html" %}
    {% load static %}

    {% block title %}
    <title>Anime - EuphoNime</title>
    {% endblock title %}

    {% block extra_css %}
        <style>
        a:hover {
          color: red;
        }
       </style>
    {% endblock extra_css %}

    {% block content %}
    <!-- Blog Section Begin -->
    <section class="blog-section spad">
        <div class="container">
                    <div class="blog-sidebar">
                        <div class="bs-recent">
                            <div class="row">
                                <div class="col-md-8">

                                </div>
                                <div class="col-md-4">
                                {% block search %}
                                    {% include 'euphonime/__includes/__search/__search2.html' %}
                                {% endblock search %}
                                </div>

                            </div>

                            <div class="section-title sidebar-title">
                                <h5>Anime</h5>
                            </div>
                            <div class="row">
                                {% for a in animes %}
                                    <div class="col-lg-4 col-md-6" >
                                        <div class="news-item border" style="padding:5px;">
                                            <div class="ct-title" style="border-bottom: 1.5px solid #f2f2f2;">
                                                <a style="color: black; text-decoration:none;" href="{% url 'anime' a.id.hex %}">{{a.title|truncatechars:40}}</a>
                                            </div>

                                        <div class="ni-pic">
                                            <a href="{% url 'anime' a.id.hex %}"><img style="padding-top:10px" src="{% if a.image %}{{a.image.url}}{% else %}{{a.image_url}}{% endif %}" alt=""></a>
                                        </div>
                                        <div class="ni-text">
                                                {% autoescape off %}
                                                {{a.description|truncatechars:60}}
                                                {% endautoescape %}
                                            <ul>
                                                <li><i class="fa fa-film"></i>&emsp;{{a.get_type_display}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
            <div class="row">
            <div class="more-blog">
                <span>
                    {% if animes.has_previous %}
                        <a href="?page={{ animes.previous_page_number }}"><i class="fa fa-long-arrow-left"></i> Back</a>
                    {% endif %}

                    {% if animes.has_next %}
                        <a href="?page={{ animes.next_page_number }}"> Next<i class="fa fa-long-arrow-right"></i></a>
                    {% endif %}
                </span>
                <span >
                        Page {{ animes.number }} of {{ animes.paginator.num_pages }}.
                </span>
            </div>
            </div>
        </div>
    </section>
    {% endblock content %}


    {% block extra_js %}
    <script>

    $(document).ready(function(){
        $('#2').addClass("active");
    });
    </script>
    {% endblock extra_js %}