.chara {
  	width: 350px;
	height: 112px;
	position: relative;
	overflow: hidden;
	}

.chara .imageCont {
	width: 100px;
  	height: 200px;
  	background-color: teal;
  	padding: 5px;
  	position: absolute;
  	top: 0;
  	left: 0;
}

.chara .imageCont .inside {
		width: 100px;
	height: 200px;
	overflow: hidden;
	background-size: cover;
	background-position: center;
}

.chara:hover .imageCont {
		-webkit-animation: spin .8s linear 1;
	animation: spin .3s linear 1;
	-moz-animation: spin .8s linear 1;
	-ms-animation: spin .8s linear 1;
}

.chara .nameTitle {
 	width: 210px;
  	height: 90px;
  	padding: 10px;
  	background-color: grey;
  	border: 1px solid #e2e2e2;
  	position: absolute;
  	top: 0px;
  	left: 118px;
	transition-duration:.6s;
    -webkit-transition-duration:.6s;
    -moz-transition-duration:.6s;
    -ms-transition-duration:.6s;
    -o-transition-duration:.6s;
}

.chara .dis {
	width: 210px;
  	height: 90px;
  	padding: 10px;
  	background-color: teal;
  	border: 1px solid #e2e2e2;
  	position: absolute;
  	top: 117px;
  	left: 118px;
	transition-duration:.6s;
    -webkit-transition-duration:.6s;
    -moz-transition-duration:.6s;
    -ms-transition-duration:.6s;
    -o-transition-duration:.6s;
}

.chara:hover .dis {
	top: 0;
	transition-duration:.6s;
    -webkit-transition-duration:.6s;
    -moz-transition-duration:.6s;
    -ms-transition-duration:.6s;
    -o-transition-duration:.6s;
}

.chara .dis .scroll {
 	padding-right: 5px;
 	height: 90px;
	overflow-y: auto;
	overflow-x: hidden;
	font-family: calibri, montserrat, sans-serif;
	font-size: 9.5px;
	line-height: 12px;
	text-align:justify;
}

.chara .nameTitle .name {
  	text-align: center;
	font-family: playfair display, sans-serif;
	font-size: 20px;
	font-weight: 700;
 	color: black;
	letter-spacing: -1px;
	font-style:italic;
 	margin-top: 30px;
}

.chara .nameTitle .info {
 	text-align: center;
	margin-top: 10px;
	font-family: calibri, sans-serif;
	font-size: 7.5px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: black;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}