    {% extends "euphonime/index.html" %}
    {% load static %}
    {% block title %}
    <title>{{article.title}} - EuphoNime</title>
    {% endblock title %}

    {% block site_logo %}
    <meta property="og:image" content="{{article.image.url}}">

    <meta property="og:title" content="{{article.title}} - EuphoNime">

    <meta property="og:description" content="{{article.content|striptags|safe|truncatewords:140}}">

    <meta name="description" content="{{article.content|striptags|safe|truncatewords:140}}" />
    {% endblock site_logo %}

    {% block content %}

    {% block meta %}
    {% for m in meta %}
    {{m.value|safe}}
    {% endfor %}
    {% endblock meta %}

    <section class="blog-hero-section set-bg" data-setbg="{{ article.image.url }}">
        <div class="container" style="position: relative;bottom:0;">
            <div class="row" >
                <div class="col-lg-12" style="background:rgba(0,0,0,0.5);position:absolute;left:0;">
                    <div class="bh-text">
                        <h1 style="color:#ffffff;">{{article.title}}</h1>
                        <ul>
                            <li><i class="fa fa-calendar"></i> {{article.created}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="blog-details-section spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 left-blog-pad">
                        <div class="bd-text">

                            <div class="bd-pic">
                                {{article.content|safe}}
                            </div>
                            <div id="fb-root"></div>
                              <script>(function(d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (d.getElementById(id)) return;
                                js = d.createElement(s); js.id = id;
                                js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
                                fjs.parentNode.insertBefore(js, fjs);
                              }(document, 'script', 'facebook-jssdk'));</script>

                              <!-- Your share button code -->
                              <div class="fb-share-button"
                                data-href="{% url 'article' article.id %}"
                                data-layout="button_count">
                              </div>
                            <hr>
                            <div class="comment-option">
                            <div id="disqus_thread"></div>
                            <script>
                            /**
                            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                            /*
                            var disqus_config = function () {
                            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                            };
                            */
                            (function() { // DON'T EDIT BELOW THIS LINE
                            var d = document, s = d.createElement('script');
                            s.src = 'https://euphonime.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                            })();
                            </script>
                            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

                            </div>
<!--                            <div class="comment-form">-->
<!--                                <h4>Leave A Comment</h4>-->
<!--                                <form action="#">-->
<!--                                    <div class="row">-->
<!--                                        <div class="col-lg-6">-->
<!--                                            <input type="text" placeholder="Name">-->
<!--                                        </div>-->
<!--                                        <div class="col-lg-6">-->
<!--                                            <input type="text" placeholder="Email">-->
<!--                                        </div>-->
<!--                                        <div class="col-lg-12">-->
<!--                                            <textarea placeholder="Comment"></textarea>-->
<!--                                            <button type="submit">Post Comment</button>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </form>-->
<!--                            </div>-->
                        </div>

                    </div>
                    <div class="col-lg-4">
                        <div class="blog-sidebar">
                            {% block follow %}
                                {% include 'euphonime/__includes/__sosmed/__follow.html' %}
                            {% endblock follow %}
                            <div class="bs-recent">
                                <div class="section-title sidebar-title">
                                    <h5>Berita Terbaru</h5>
                                </div>
                                {% for na in news_article %}
                                <div class="news-item">
                                    <div class="ni-pic">
                                        <a href="{% url 'article' na.id.hex  %}">
                                        <img style="width:168px;height:100px;" src="{{ na.image.url }}" alt="">
                                        </a>
                                    </div>
                                    <div class="ni-text">
                                        <h5><a href="{% url 'article' na.id.hex  %}">{{na.title|truncatechars:30}}</a></h5>
                                        <ul>
                                            <li><i class="fa fa-calendar"></i> May 19, 2019</li>
                                        </ul>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock content %}
